@charset "utf-8";
/* CSS Document */

body
{
	background-color: #E0E0E0;
}
.box
{
	background-color: #878787;
	height: 350px;
	width: 305px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}

.display
{
	background-color: black;
	width: 260px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 45px;
	margin-bottom: 5px;
}
.display input
{
position:relative;
left:2px;
top:2px;
height:35px;
color:black;
background-color:#bccd95;
font-size:21px;
text-align:right;
}

.keys {
	margin-top: -10px;
	text-align: center;
}
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 4px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	margin-top: 15px;
	margin-bottom: -35px;
	text-align: center;
}
.button2 {
	width: 95px;
	height: 30px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: solid;
	border-radius: 4px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	text-align: center;
}
.button3 {
	width: 40px;
	height: 81px;
	border: none;
	border-radius: 4px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	vertical-align: baseline;
}
.button.gray {
color:white;
background-color:#6f6f6f;
border-bottom:black 2px solid;
border-top:2px #6f6f6f solid;
}
.button.pink {
	color: black;
	background-color: #FF7287;
	border-bottom: black 2px solid;
}
.button1.black {
	color: white;
	background-color: #E4E4E4;
	border-bottom: black 2px solid;
	border-top: 2px 303030 solid;
}
.button2.white {
	color: black;
	background-color: FF9933;
	border-bottom: black 2px solid;
	border-top: 2px FF9933 solid;
	text-align: center;
}
.button3.orange {
	color: black;
	background-color: FF9933;
	border-bottom: black 2px solid;
	border-top: 2px FF9933 solid;
	position: relative;
	top: -37px;
	padding-bottom: 20px;
}
.gray:active {
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}
.pink:active {
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.white:active {
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}
.black:active {
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
.orange:active {
	border-top: black 2px solid;
	border-bottom: FF9933 2px solid;
}
p {
	line-height: 10px;
	text-align: left;
}
