body h1 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 36px;
}

#wrapper {

}

header {
	overflow-y: auto;
	height: 150px;
	text-align: center;
}

aside {
	
}

ul li {
	display: inline;
	padding-left: 0px;
}

main  {

}

footer {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 10px;
	font-size: 10px;
}


