body {
	background-color: black;
}
body,td,th {
	color: #FFFFFF;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: normal;
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFFFFF;
}
h1 {
	font-size: 36px;
}
a:link {
	color: #9BFFED;
	text-decoration: none;
}
a:visited {
	color: #9B9B9B;
	text-decoration: none;
}
a:hover {
	color: #FBB92A;
	text-decoration: none;
}
a:active {
	color: #82BBFF;
	text-decoration: none;
}

#wrapper {
	width: 1120px;
	height: auto;
	position: relative;
	margin-right: auto;
	margin-left: auto;	
	background-color: black;
}

header {
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	text-align: center;
}

.myMenu {
	margin-left: auto;
	margin-right: auto;
	margin: 25px;
	padding: 10px;
}

.myMenu li {
	float: left;
	list-style: none;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color:#09F;
	padding: 0.5em 2em;
	margin:0;
	border-right: 1px solid #fff;
	color:#111;
}

.myMenu li a:hover {
	background-color:#0CF;	
}

/*style the sub menu*/
.myMenu li ul {
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#09F;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}

main  {
	width: 1120px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50 px;
	padding-top: 50px;
	padding-bottom: 50px;
}

section {
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

section ul li {
	width: 175px;
	float: left;
	display: inline;
	list-style: none;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #353333;
	font-weight: bold;
	border-top: thin outset #8FE5D7;
	border-right: thin outset #8FE5D7;
	border-bottom: thin outset #8FE5D7;
	border-left: thin outset #8FE5D7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

article {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	display: inline;
}

article ul li {
	list-style-type: none;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	display: inline;
}

article ul li img {
	width: 150px;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #353333;
	font-weight: bold;
	border-top: thin outset #8FE5D7;
	border-right: thin outset #8FE5D7;
	border-bottom: thin outset #8FE5D7;
	border-left: thin outset #8FE5D7;
}

button {
	width: 175px;
	text-align: center;
	background-color: red;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 35px;
	display: inline;

}

#tabs {
	width: 1120px;
	display: inline; 
	text-align: center; 
	margin-right: auto; 
	margin-left: auto; 
	background-color: white;
}

#tabs-1 {
	color: black;
	background-color: white;
}

#tabs-2 {
	color: black;
	background-color: white;

}

#tabs-3 {
	color: black;
	background-color: white;
}

#tabs-4 {
	color: black;
	background-color: white;

}

.toggler { width: 1120px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px;  padding: 1em;  font-size: 1.2em; border: 1px solid #000; background: #eee; color: #333; }

.newClass { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 100px; padding: 30px; margin: 10px; font-size: 1.6em; }




#feedback { font-size: 15px; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { display: inline; list-style-type: none; margin-left: 5px; margin-right: 5px; padding: 15px; width: 150px; }
#selectable li { border-top: thin outset #8FE5D7; border-right: thin outset #8FE5D7; border-bottom: thin outset #8FE5D7; 
		border-left: thin outset #8FE5D7;text-align: center; margin-left: 5px; margin-right: 5px; padding: 15px; 
		font-size: 15px; height: 18px; font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 135px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 

footer {
	clear: both;
	position: absolute;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 12px;
}
